.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid red;
}

.button {
  padding: 1rem 3rem;
  color: #212121;
  background-color: #e4e4e4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
