.placeholder {
  height: clamp(200px, 30vh, 400px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container h2 {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}
