.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.container label {
  cursor: pointer;
}

.container label:not([for="checkbox"]) {
  width: 100%;
}

.container label[for="checkbox"] {
  order: 1;
}
