.select {
  padding: 0.5rem 1.25rem;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 2rem;
  appearance: none;
  outline: none;
  cursor: pointer;
}
