.gridContainer {
  margin: 0 auto;
  width: clamp(520px, 90vw, 1600px);
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  position: relative;
  container-type: inline-size;
}

.gridContainer h1 {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1000px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .gridContainer h1 {
    text-align: center;
  }
}
