.container {
  width: 200px;
  flex-shrink: 0;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.container h2 {
  cursor: pointer;
}
