.gridContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
  border: 1px solid var(--color-contrast);
  border-radius: 12px;
}

.container {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
}
