.gridContainer {
  padding: 1rem;
  display: grid;
  grid-template-columns: 150px 1fr auto;
  grid-template-rows: auto 1fr;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--color-contrast);
  border-radius: 12px;
}

.container {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.rating :global(.material-symbols-rounded) {
  font-size: 1rem;
}

.date {
  grid-column: -1;
  font-size: 0.75rem;
}

.comment {
  grid-row: 1 / -1;
}
