.gridContainer {
  padding: 1rem;
  display: grid;
  grid-template-columns: 150px 1fr auto;
  grid-template-rows: auto 1fr;
  align-items: start;
  column-gap: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.info {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

.reviewer {
  font-size: 0.875rem;
  font-weight: 500;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.rating :global(.material-symbols-rounded) {
  font-size: 1rem;
  margin-right: 0.2rem;
}

.date {
  color: #666;
  grid-column: 3;
  font-size: 0.75rem;
}
