.container {
  grid-row: 2;
}

.summary {
  border: 1px solid var(--color-primary);
  border-radius: 12px;
}

.shipping {
  font-style: italic;
}

.total {
  font-size: 1.25rem;
  font-weight: bold;
}
