.gridContainer {
  padding: clamp(1rem, 3cqw, 2rem) clamp(0.5rem, 2cqw, 1rem);
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
