.gridContainer {
  min-width: 0;
  padding: 1rem;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  transition:
    box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  cursor: pointer;
}

.gridContainer:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

.gridContainer h3 {
  font-size: 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.rating {
  font-size: 0.8rem;
  justify-self: start;
  display: flex;
  align-items: center;
}

.rating :global(.material-symbols-rounded) {
  font-size: 1rem;
}

.imageWrapper {
  width: clamp(140px, 75%, 160px);
  height: clamp(140px, 75%, 160px);
  aspect-ratio: 1 / 1;
  background-color: rgba(var(--color-surface), 0.05);
  border-radius: 4px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
